doctype html
html
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href=serverroot+"/css/faviconmiddle.png")
		link(rel='stylesheet', href=serverroot+'/css/style.css')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/jquery-1.11.0.js')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/jquery.debounce-1.0.5.js')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/jquery.highlight.js')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/knockout-3.0.0.debug.js')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/knockout.wrap.js')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/inheritance.js')
		script(type='text/javascript', src=serverroot+'/js/lib/vendor/moment.min.js')
		script(type='text/javascript', src=serverroot+'/js/base.js')
		script(type='text/javascript', src=serverroot+'/js/client.js')
		meta(name='offsetstart',content=offset)
		meta(name="serverroot", content=serverroot)
		style=style
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-48378065-1', 'dyndns.hu');
			ga('send', 'pageview');
	body
		div.bgfader &nbsp;
		header#index.div.col-md-3.col-md-offset-9
			div
				a(href='/')=title
			div.tagline=tagline
		//
			section#main-entry
				article				
					h2=mainentry.title
					div!=mainentry.body				
		section#entries.container-fluid
			if count > 0
				include part
			else
				div no entires found
						
		section.nav
			#actualyear
			div.clear
			#actualmonth
			div.clear
			#actualday
			div.clear
			#eratags
			
		section.searchbox
			a.trigger(onclick="$(this).hide().parent().children('.searchboxbuttons').show(); $('.lookfor').focus()")
			.searchboxbuttons(style="display:none;")
				input.lookfor(onblur="setTimeout(function(){$('.searchbox').children('a.trigger').show(); $('.searchboxbuttons').hide()},500)")
				.yearpicker(data-years=years)
					- for (var y = 0; y < years.length; y++)
						a(onclick="toYear(this)",data-year=years[y])=years[y].year
		section.footer
			div#tmp(title=footerTitle)=footer