doctype html
html
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="/css/faviconmiddle.png")
		link(rel='stylesheet', href='/css/style.css')

		meta(name="admin", content=admin)
		meta(name='offsetStart',content=offsetStart)
		meta(name="eras", content=JSON.stringify(eras))

		script(type='text/javascript', src='/js/lib/vendor/jquery-1.11.0.js')
		script(type='text/javascript', src='/js/lib/vendor/jquery.debounce-1.0.5.js')
		script(type='text/javascript', src='/js/lib/vendor/jquery.highlight.js')
		script(type='text/javascript', src='/js/lib/vendor/knockout-3.0.0.debug.js')
		script(type='text/javascript', src='/js/lib/vendor/knockout.wrap.js')
		script(type='text/javascript', src='/js/lib/vendor/inheritance.js')
		script(type='text/javascript', src='/js/lib/vendor/moment.min.js')
		script(type='text/javascript', src='/js/base.js')
		script(type='text/javascript', src='/js/client.js')
		
		if admin
			script(type='text/javascript', src='/trumbowyg/dist/trumbowyg.min.js')
			script(type='text/javascript', src='/js/admin.js')

		style=style
		// script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-48378065-1', 'dyndns.hu');
			ga('send', 'pageview');
	body
		div.bgfader &nbsp;
		header#index.div.col-md-3.col-md-offset-9
			div
				a(href='/')=config.title
			div.tagline=config.tagline
		//
			section#main-entry
				article				
					h2=mainentry.title
					div!=mainentry.body				
		if admin
			section#new-post.container-fluid
				article.row
					div.col-md-6.col-md-offset-3#new-entry
						h3
							a.new(onclick='addPost()') +
				article.entry-stub.row.entry-wrapper.hidden
					div.col-md-6.col-md-offset-3.entry
						div.isactual
								a(href='#')
									i.glyphicon.glyphicon-asterisk
						.content
							h3.title
							span.peek.body
						
						div.grade.gradeq.noselect 0	

						div.control.noselect
							a.editButton(onclick="edit(this)")
								span.glyphicon.glyphicon-pencil
							a.toggleTop(onclick='toggleTop(this)')
								span(class='glyphicon-star-empty').glyphicon
							div.topic T: 0
							
							a(onclick="rate(this, 1)") ▲
							span.grade 0
							a(onclick="rate(this, -1)") ▼
					div.col-md-1.tags
						div.tagscontainer

						
		section#entries.container-fluid
			if entries.length > 0
				include part
			else
				div no entires found
						
		section.nav
			#actualyear
			div.clear
			#actualmonth
			div.clear
			#actualday
			div.clear
			#eratags
			
		section.searchbox
			a.trigger(onclick="$(this).hide().parent().children('.searchboxbuttons').show(); $('.lookfor').focus()")
			.searchboxbuttons(style="display:none;")
				input.lookfor(onblur="setTimeout(function(){$('.searchbox').children('a.trigger').show(); $('.searchboxbuttons').hide()},500)")
				.yearpicker(data-years=years)
					- for (var y = 0; y < years.length; y++)
						a(onclick="toYear(this)",data-year=years[y])=years[y]
		section.footer
			div#tmp
				a(title=config.footerTitle, href='/x')=config.footer
		
		section.editor-wrapper.hidden
			#editor
				input#title.col-md-12(data-bind="value: title",placeholder='Title')
				textarea#body.col-md-12(data-bind='richText: body')
				input#tags.col-md-8(data-bind='value: tag', placeholder='tags with comma separation...')
				input#topic.col-md-4(data-bind='value: topic')
				br
				button(onclick='saveEntry()') save
				button(data-bind="click: discardEntry") discard
