doctype html
html
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href=serverroot + "/css/favicon.png")
		link(rel='stylesheet', href=serverroot + '/css/style.css')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/jquery-1.11.0.js')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/jquery.debounce-1.0.5.js')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/jquery.highlight.js')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/knockout-3.0.0.debug.js')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/knockout.wrap.js')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/inheritance.js')
		script(type='text/javascript', src=serverroot + '/js/lib/vendor/moment.min.js')
		script(type='text/javascript', src=serverroot + '/js/base.js')
		script(type='text/javascript', src=serverroot + '/js/client.js')
		script(type='text/javascript', src=serverroot + '/js/clientall.js')
		meta(name='offsetstart',content=offset)
		meta(name="serverroot", content=serverroot)		script(type='text/javascript', src='js/lib/vendor/jquery-1.11.0.js')
		style=style
		
	body
		div.bgfader &nbsp;
		header#index.div.col-md-3.col-md-offset-9 
			div=title
			div.tagline=tagline
		//
			section#main-entry
				article				
					h2=mainentry.title
					div!=mainentry.body				
		section#entries.container-fluid
			include partall			
						
		section.nav
			#actualyear
			div.clear
			#actualmonth
			div.clear
			#actualday
			div.clear
			#eratags
			
		section.searchbox
			a.trigger(onclick="$(this).hide().parent().children('.searchboxbuttons').show(); $('.lookfor').focus()")
			.searchboxbuttons(style="display:none;")
				input.lookfor(onblur="setTimeout(function(){$('.searchbox').children('a.trigger').show(); $('.searchboxbuttons').hide()},500)")
				.yearpicker(data-years=years)
					- for (var y = 0; y < years.length; y++)
						a(onclick="toYear(this)",data-year=years[y])=years[y].year

		section.footer
			div#tmp(title=footerTitle)=footer