- for (var x = 0; x < entries.length; x++)
	article.row.entry-wrapper
		div.col-md-6.col-md-offset-3.entry(data-date=entries[x].date, data-id=entries[x].id, id=entries[x].id, data-entry=JSON.stringify(entries[x]))
			div.isactual
					a(href='#'+entries[x].id)
						i.glyphicon.glyphicon-asterisk
			.content
				if admin
					h3.title(onclick="edit(this)")=entries[x].title
				if !admin
					h3.title=entries[x].title
				span.peek.body!=entries[x].body
			if admin
				div.grade.gradeq.noselect #{entries[x].grade || 0}

				div.control.noselect
					a(onclick="edit(this)")
						span.glyphicon.glyphicon-pencil
					a(onclick='toggleTop(this)')
						span(class=entries[x].top?'glyphicon-star':'glyphicon-star-empty').glyphicon
					div T: #{entries[x].topic}
					
					a(onclick="rate(this, 1)") ▲
					span.grade #{entries[x].grade || 0}
					a(onclick="rate(this, -1)") ▼
					
		if entries[x].tags.length>0
			div.col-md-1.tags
				div.tagscontainer
					- for (var y = 0; y < entries[x].tags.length; y++)
						div.tag=entries[x].tags[y]
