- for (var x = 0; x < entries.length; x++)
	article.row
		div.col-md-6.col-md-offset-3.entry(data-date=entries[x].date, data-id=entries[x].id, data-offset=entries[x].offset, id=entries[x].id)
			div.isactual
				a(href=serverRoot+'/id/'+entries[x].id)
					i.glyphicon.glyphicon-asterisk
			h3.title=entries[x].title
			span.peek!=entries[x].body
			if admin
				div.control.noselect
					a(onclick='toggleTop(this,"'+entries[x].id+'",'+entries[x].top+')', class=entries[x].top?'glyphicon-star':'glyphicon-star-empty').glyphicon
					span T: #{entries[x].topic}
					span.rate R: 
						span #{entries[x].grade || 0}
						a(onclick="rate(this,'"+entries[x].id+"' ,1)") ▲
						a(onclick="rate(this,'"+entries[x].id+"' ,-1)") ▼
					span.edit
						a(href='x#'+entries[x].id).glyphicon.glyphicon-pencil

		if entries[x].tags.length>0
			div.col-md-1.tags
				div.tagscontainer
					- for (var y = 0; y < entries[x].tags.length; y++)
						div.tag=entries[x].tags[y]								